version: '3.9'

services:
  nginx:
    image: nginx:latest
    container_name: webserver
    restart: unless-stopped
    ports:
      - {{ NGINX_HTTP }}:80
      - {{ NGINX_HTTPS }}:443
networks:
   app-net:
        name: app-net